@font-face {
    font-family: Merriweather;
    font-style: italic;
    font-weight: 100;
    src: url(../fonts/Merriweather-Italic.ttf);
}
body{
    background-color: rgb(234, 234, 255);
}
.header{
    margin-top: 50px;
}
.section{
    width: 1200px;
    margin: auto;
    
}
.section-h1{
    text-align: center;
    color: rgb(0, 42, 255);
    font-family:  "Merriweather", "Times New Roman", serif;
    font-size: 65px;
}
.nav{
    margin-top: 70px;
}
.nav_section-ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}
.nav_ul-li{
    font-size: 20px;
}
.nav_li-a{
    text-decoration: none;
    color: rgb(251, 50, 50);
    font-style: bold;
}
.nav_li-a:hover{
    color: rgb(0, 0, 0);
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    font-style: oblique;
}
.main{
    margin-top: 100px;
    color: #350000;
}

.main_section-p{
    font-size: 18px;
    font-family: monospace;
    text-align: justify;
}

.main_section-article{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

